body{
    font-family: arial;
    font-size: 15px;
text-align: center;
}

.caja1{

}




.caja2{
    background-color: gray;
    align-items: center;
}

.ping{
background: pink;
justify-content: space-between;
border: 15px;
color: white;
}
